#container {
	background: url("/web/20181114193553im_/http://dare2018.dnagroup.org/img/shadow-lr.png") top right repeat-y;
}
#c2 {
	background: url("/web/20181114193553im_/http://dare2018.dnagroup.org/img/shadow-rl.png") top left repeat-y;
}
#content {
	/*background: url("/web/20181114193553im_/http://dare2018.dnagroup.org/img/sidebar-ada-v3.png") top right no-repeat;*/
}

/*
     FILE ARCHIVED ON 19:35:53 Nov 14, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:00:00 May 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.048
  exclusion.robots: 0.143
  exclusion.robots.policy: 0.128
  esindex: 0.013
  cdx.remote: 6.422
  LoadShardBlock: 117.343 (3)
  PetaboxLoader3.resolve: 112.005 (3)
  PetaboxLoader3.datanode: 43.999 (4)
  load_resource: 41.421
*/
